@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-display: swap;
  src: url('Ultra-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url('Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: bold;
  font-display: swap;
  src: url('Roboto-Bold.ttf');
}