---
const { post } = Astro.props;
---
<article class="postCard">
  <div class="postContent">
    <h5>{new Date(post.frontmatter.pubDate).toLocaleDateString("EN-US", { year: 'numeric', month: 'long', day: 'numeric' })}</h5>
    <h4>{post.frontmatter.title}</h4>
    <p>{post.frontmatter.introText}</p>
    <a href={`/writing/${post.frontmatter.slug}`}>Read more...</a>
  </div>
</article>

<style>
.postCard {
  margin-bottom: 4.8rem;
}

.postCard h4 {
  margin-top: 0;
  padding-bottom: 0.5rem;
  color: var(--theme-content-primary);
  border-bottom: 1px solid var(--theme-content-highlight);
}
.postCard h5 {
  margin-bottom: 0;
  color: var(--theme-content-highlight-secondary);
}
.postCard p a {
  color: var(--theme-content-primary);
  font-family: var(--font-body-bold);
  font-weight: 700;
  text-decoration-color: var(--theme-content-primary);
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
  &:hover,
  &:focus {
    color: var(--theme-content-highlight-secondary);
    text-decoration-color: var(--theme-content-highlight-secondary);
  }
}
</style>