---
import FancyText from "./FancyText.astro";
import ProjectCard from "./ProjectCard.astro";
const allProjects = Object.values(import.meta.glob('../pages/projects/*.md', { eager: true }));
const featuredProjects = allProjects.sort((a: any, b: any) => a.frontmatter.featureOrder - b.frontmatter.featureOrder).slice(0, 3);
---

<section id="projects" class="projectSection">
  <div class="gridWrapper">
    <div class="indexTitleBlock">
      <FancyText text="rec ent projects" label="Recent projects" />
    </div>
    <div class="indexContentBlock">
      <h3 class="title">Recent projects</h3>
      <p>Here are a few projects I’ve worked on lately (or that I’m currently working on) that I’m excited to show off! You can also see additional work on the <a href='/all-projects'>All Projects</a> page.</p>
      <div class="projectCardSection">
        {featuredProjects.map(project => (
          <ProjectCard project={project} />
        ))}
      </div>
    </div>
  </div>
</section>
