---
import FancyText from "./FancyText.astro";
import PostCard from "./PostCard.astro";
const allWriting = Object.values(import.meta.glob('../pages/writing/*.md', { eager: true }));
const featuredWriting = allWriting.sort((a: any, b: any) => a.frontmatter.featureOrder - b.frontmatter.featureOrder).slice(0, 3);
---

<section id="writing" class="writingSection">
  <div class="gridWrapper">
    <div class="indexTitleBlock">
      <FancyText text="rec ent writing" label="Recent writing" />
    </div>
    <div class="indexContentBlock">
      <h3 class="title">Recent writing</h3>
      <p>I haven’t written very often of late, but that's something I’m trying to remedy! These are the most recent posts, and there’s more to see on the <a href='/all-writing'>All Writing</a> page.</p>
      <div class="postCardSection">
        {featuredWriting.map(post => <PostCard post={post} />)}
      </div>
    </div>
  </div>
</section>

<style>
.writingSection {
  padding-top: 8rem;
  min-height: 100vh;
}

.indexTitleBlock {
  grid-column: 2 / 6;
  padding-top: 2rem;
}

.indexContentBlock {
  grid-column: 7 / -2;
  padding: 4rem 0;
}

.postCardSection {
  margin-top: 3.6rem;
}

.indexContentBlock a {
  color: var(--highlight);
  font-family: $font-body-bold;
  font-weight: 700;
  text-decoration-color: var(--highlight);
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}
.indexContentBlock a:hover,
.indexContentBlock a:focus {
  color: black;
  text-decoration-color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .writingSection {
    padding-top: 7rem;
  }
  
  .indexTitleBlock {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    opacity: 0.1;
    padding-top: 14rem;
  }
  .indexContentBlock {
    grid-column: 4 / -2;
    grid-row: 1 / 2;
    padding-top: 0;
  }
}

@media (max-width: 505px) {
  .indexTitleBlock {
    display: none;
  }
  .indexContentBlock {
    grid-column: 2 / -2;
  }
}
</style>